{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "overrides": [
      {
        "files": [
          "tests/*.ts"
        ],
        "rules":{
          "@typescript-eslint/no-var-requires": "off"
        }
      }
    ]
  }